:host {
  overflow: hidden;
  position: relative;
  padding-right: 4rem;
  background-color: var(--app-panel-accent);
  border-radius: 1rem;

  button {
    position: absolute;
    top: .5rem;
    right: .5rem;

    mat-icon {
      &.copied {
        color: var(--theme-success);
      }

      &.error {
        color: var(--theme-warn);
      }
    }
  }
}
