<div class="card">
  <mat-icon color="accent" class="card-icon">tips_and_updates</mat-icon>
  <h3>Fluent</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <button mat-button color="primary">
    Learn more
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
<div class="card">
  <mat-icon color="accent" class="card-icon">workspaces</mat-icon>
  <h3>Flexible</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <button mat-button color="primary">
    Learn more
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
<div class="card">
  <mat-icon color="accent" class="card-icon">data_object</mat-icon>
  <h3>Extendable</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <button mat-button color="primary">
    Learn more
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
