<ng-container *transloco="let t; read: 'home.getting-started'">
  <h2 [innerHTML]="t('title')"></h2>
  <p [innerHTML]="t('description')"></p>

  <div class="step">
    <div class="step-header">
      <div class="step-number">
        <span>1</span>
      </div>
      <div class="step-info">
        <h3 [innerHTML]="t('step-1.title')"></h3>
        <p [innerHTML]="t('step-1.description')"></p>
      </div>
    </div>
    <div class="step-content">
      <markdown [data]="install" />
    </div>
  </div>
  <div class="step">
    <div class="step-header">
      <div class="step-number">
        <span>2</span>
      </div>
      <div class="step-info">
        <h3 [innerHTML]="t('step-2.title')"></h3>
        <p [innerHTML]="t('step-2.description')"></p>
      </div>
    </div>
    <div class="step-content">
      <markdown [data]="init" />
      <div class="notice" [innerHTML]="t('step-2.notice')"></div>
    </div>
  </div>
  <div class="step">
    <div class="step-header">
      <div class="step-number">
        <span>3</span>
      </div>
      <div class="step-info">
        <h3 [innerHTML]="t('step-3.title')"></h3>
        <p [innerHTML]="t('step-3.description')"></p>
      </div>
    </div>
    <div class="step-content">
      <markdown [data]="serve" />
    </div>
  </div>
</ng-container>
