:host {
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100% - 2rem);
  height: 100%;
  width: min(20rem, 80svw);
  min-width: 13rem;
  padding: 1rem;
  gap: 1rem;

  color: var(--app-text-color);
  background-color: var(--app-panel-color);

  mat-list-item {
    color: inherit;
    transition: .1s ease-in-out;
    border-radius: 1rem;
  }

  [matListItemTitle] {
    color: var(--theme-primary);
  }
  [matListItemLine] {
    color: var(--app-neutral);
  }

  .active {
    background-color: var(--app-panel-accent);
    pointer-events: none;
    cursor: default;
    // opacity: .66;

    a {
      color: var(--theme-accent);
    }
  }
}
