:host {
  display: flex;
  flex-flow: column nowrap;
  // position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100% - 2rem);
  height: 100%;
  width: min(20rem, 80svw);
  min-width: 13rem;
  padding: 1rem;
  gap: 1rem;

  &::after {
    background-color: var(--app-panel-color);
    position: absolute;
    opacity: .33;
    content: '';
    z-index: -1;
    inset: 0;

  }

  mat-list-item {
    color: inherit;
    transition: .1s ease-in-out;
    border-radius: 1rem;
  }

  [mat-line] {
    color: var(--theme-primary);
  }

  [matListItemTitle] {
    color: var(--theme-primary);
  }

  [matListItemLine] {
    color: var(--app-neutral);
  }

  .active {
    background-color: var(--app-panel-color);
    pointer-events: none;
    cursor: default;
    // opacity: .66;

    a,
    [mat-line] {
      color: var(--theme-accent);
    }
  }
}
