<mat-nav-list *transloco="let t; read: 'menu.framework'">
  <h3 mat-subheader>{{ t('title') }}</h3>
  <mat-divider />

  <mat-list-item routerLink="/docs/getting-started" routerLinkActive="active">
    <a mat-line>{{ t('getting-started') }}</a>
  </mat-list-item>
  <mat-list-item routerLink="/docs/installation" routerLinkActive="active">
    <a mat-line>{{ t('installation') }}</a>
  </mat-list-item>

  <mat-list-item routerLink="/docs/core-concepts" routerLinkActive="active">
    <a mat-line>{{ t('core-concepts') }}</a>
  </mat-list-item>
  <mat-list-item routerLink="/docs/api-engines" routerLinkActive="active">
    <a mat-line>{{ t('api-engines') }}</a>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list *transloco="let t; read: 'menu.toolbox'">
  <h3 mat-subheader>{{ t('title') }}</h3>
  <mat-divider />
  <mat-list-item routerLink="/toolbox" routerLinkActive="active">
    <a mat-line>{{ t('about') }}</a>
  </mat-list-item>

  <mat-list-item routerLink="/toolbox/zodyac-env" routerLinkActive="active">
    <a matListItemTitle>&#64;zodyac/env</a>
    <span matListItemLine>{{ t('environment') }}</span>
  </mat-list-item>
  <mat-list-item routerLink="/toolbox/zodyac-express" routerLinkActive="active">
    <a matListItemTitle>&#64;zodyac/express</a>
    <span matListItemLine>{{ t('express') }}</span>
  </mat-list-item>
  <mat-list-item routerLink="/toolbox/zodyac-mongoose" routerLinkActive="active">
    <a matListItemTitle>&#64;zodyac/mongoose</a>
    <span matListItemLine>{{ t('mongoose') }}</span>
  </mat-list-item>
</mat-nav-list>
<mat-nav-list *transloco="let t; read: 'menu.docs'">
  <h3 mat-subheader>{{ t('title') }}</h3>
  <mat-divider />
  <mat-list-item routerLink="/docs" routerLinkActive="active">
    <a matListItemTitle>{{ t('read') }}</a>
  </mat-list-item>
  <mat-list-item routerLink="/docs/cookbook" routerLinkActive="active">
    <a matListItemTitle>{{ t('cookbook') }}</a>
  </mat-list-item>
  <mat-list-item routerLink="/docs/extending" routerLinkActive="active">
    <a matListItemTitle>{{ t('extending') }}</a>
  </mat-list-item>
  <mat-list-item routerLink="/docs/contributing" routerLinkActive="active">
    <a matListItemTitle>{{ t('contributing') }}</a>
  </mat-list-item>
</mat-nav-list>
