<mat-nav-list [disableRipple]="true" *transloco="let t; read: 'menu.framework'">
  <h3 mat-subheader>{{ t('title') }}</h3>
  <!-- <mat-divider /> -->

  <mat-list-item routerLink="/docs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <span matListItemTitle>{{ t('documentation') }}</span>
  </mat-list-item>

  <mat-list-item routerLink="/docs/getting-started" routerLinkActive="active">
    <span mat-line>{{ t('getting-started') }}</span>
  </mat-list-item>

  <mat-list-item routerLink="/docs/core-concepts" routerLinkActive="active">
    <span mat-line>{{ t('core-concepts') }}</span>
  </mat-list-item>

  <mat-list-item routerLink="/docs/cli" routerLinkActive="active">
    <span mat-line>{{ t('cli') }}</span>
  </mat-list-item>

  <mat-list-item routerLink="/docs/api-engines" routerLinkActive="active">
    <span mat-line>{{ t('api-engines') }}</span>
  </mat-list-item>
</mat-nav-list>

<mat-nav-list [disableRipple]="true" *transloco="let t; read: 'menu.toolbox'">
  <h3 mat-subheader>{{ t('title') }}</h3>

  <mat-list-item routerLink="/toolbox" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <span mat-line>{{ t('about') }}</span>
  </mat-list-item>

  <mat-list-item routerLink="/toolbox/zod-env" routerLinkActive="active">
    <span matListItemTitle>&#64;zodyac/zod-env</span>
    <span matListItemLine>{{ t('environment') }}</span>
  </mat-list-item>
  <mat-list-item routerLink="/toolbox/zod-express" routerLinkActive="active">
    <span matListItemTitle>&#64;zodyac/zod-express</span>
    <span matListItemLine>{{ t('express') }}</span>
  </mat-list-item>
  <mat-list-item routerLink="/toolbox/zod-mongoose" routerLinkActive="active">
    <span matListItemTitle>&#64;zodyac/zod-mongoose</span>
    <span matListItemLine>{{ t('mongoose') }}</span>
  </mat-list-item>
</mat-nav-list>

<mat-nav-list [disableRipple]="true" disabled *transloco="let t; read: 'menu.more'">
  <h3 mat-subheader>{{ t('title') }}</h3>

  <mat-list-item>
    <!--  routerLink="/docs/cookbook" routerLinkActive="active" -->
    <span matListItemTitle>{{ t('cookbook') }}</span>
  </mat-list-item>
  <mat-list-item>
    <!-- routerLink="/docs/extending" routerLinkActive="active" -->
    <span matListItemTitle>{{ t('extending') }}</span>
  </mat-list-item>
  <mat-list-item>
    <!-- routerLink="/docs/contributing" routerLinkActive="active" -->
    <span matListItemTitle>{{ t('contributing') }}</span>
  </mat-list-item>
</mat-nav-list>
