<ng-container *transloco="let t; read: ''"></ng-container>
<div class="column leading">
  <a routerLink="/">
    <h1>
      <img ngSrc="assets/logo@0.1x.webp" width="30" height="30" priority="low" alt="Zodyac logo">
      zodyac.dev
    </h1>
  </a>
  <p class="warning">Don't trust the owls.</p>
</div>

<div class="column" *transloco="let t; read: 'menu.framework'">
  <h2>{{ t('title') }}</h2>
  <a routerLink="/docs/getting-started">{{ t('getting-started') }}</a>
  <a routerLink="/docs">{{ t('documentation') }}</a>
  <a routerLink="/docs/core-concepts">{{ t('core-concepts') }}</a>
  <a routerLink="/docs/cli">{{ t('cli') }}</a>
  <a routerLink="/docs/api-engines">{{ t('api-engines') }}</a>
</div>
<div class="column" *transloco="let t; read: 'menu.more'">
  <h2>{{ t('title') }}</h2>
  <a routerLink="/docs/cookbook">{{ t('cookbook') }}</a>
  <a routerLink="/docs/extending">{{ t('extending') }}</a>
  <a routerLink="/docs/contributing">{{ t('contributing') }}</a>
</div>
