<ng-container *transloco="let t; read: 'zodenv'">
  <section class="title">
    <div class="title-content">
      <h1 [innerHTML]="t('title')"></h1>
      <p [innerHTML]="t('text')"></p>
    </div>
  </section>
  <section>
    <h2 [innerHTML]="t('install.title')"></h2>
    <p [innerHTML]="t('install.text')"></p>
    <pre copy>
      <code highlight="npm i @zodyac/zod-env"></code>
    </pre>
  </section>
  <section>
    <h2 [innerHTML]="t('usage.title')"></h2>
    <p [innerHTML]="t('usage.schema')"></p>
    <pre copy>
      <code [highlight]="'schema' | snippet : 'zodenv' | async" [languages]="['ts']"></code>
    </pre>
    <p class="notice" [innerHTML]="t('usage.coerce')"></p>
    <p [innerHTML]="t('usage.parse')"></p>
    <pre copy>
      <code [highlight]="'parse' | snippet : 'zodenv' | async" [languages]="['ts']"></code>
    </pre>
    <p [innerHTML]="t('usage.infer')"></p>
    <p class="notice" [innerHTML]="t('usage.fallback')"></p>
  </section>
  <section>
    <h2 [innerHTML]="t('config.title')"></h2>
    <p [innerHTML]="t('config.text')"></p>
    <p [innerHTML]="t('config.env')"></p>
    <pre copy>
      <code [highlight]="'config' | snippet : 'zodenv' | async" [languages]="['ts']"></code>
    </pre>
    <p [innerHTML]="t('config.path')"></p>
    <pre copy>
      <code [highlight]="'path' | snippet : 'zodenv' | async" [languages]="['ts']"></code>
    </pre>
  </section>
</ng-container>
