<ng-container *transloco="let t; read: 'zodmongoose'">
  <section class="title">
    <div class="title-content">
      <h1 [innerHTML]="t('title')"></h1>
      <p [innerHTML]="t('text')"></p>
    </div>
  </section>
  <section>
    <h2 [innerHTML]="t('install.title')"></h2>
    <p [innerHTML]="t('install.text')"></p>
    <pre copy>
      <code highlight="npm i @zodyac/zod-mongoose"></code>
    </pre>
  </section>
  <section>
    <h2 [innerHTML]="t('usage.title')"></h2>
    <p [innerHTML]="t('usage.text')"></p>
    <pre copy>
      <code [highlight]="'schema' | snippet : 'zodmongoose' | async" [languages]="['ts']"></code>
    </pre>

    <p [innerHTML]="t('usage.convert')"></p>
    <pre copy>
      <code [highlight]="'convert' | snippet : 'zodmongoose' | async" [languages]="['ts']"></code>
    </pre>

    <p [innerHTML]="t('usage.use')"></p>
    <pre copy>
      <code [highlight]="'usage' | snippet : 'zodmongoose' | async" [languages]="['ts']"></code>
    </pre>
  </section>

  @defer (on viewport) {
    <section>
      <h2 [innerHTML]="t('raw.title')"></h2>
      <p [innerHTML]="t('raw.text')"></p>
      <pre copy>
        <code [highlight]="'raw' | snippet : 'zodmongoose' | async" [languages]="['ts']"></code>
      </pre>
    </section>
  } @placeholder {
    <section>
      <h2 [innerHTML]="t('raw.title')"></h2>
      <p [innerHTML]="t('raw.text')"></p>
    </section>
  }

  @defer (on viewport) {
    <section>
      <h2 [innerHTML]="t('check.title')"></h2>
      <p [innerHTML]="t('check.text')"></p>
      <pre copy>
        <code [highlight]="'check' | snippet : 'zodmongoose' | async" [languages]="['ts']"></code>
      </pre>
    </section>
  } @placeholder {
    <section>
      <h2 [innerHTML]="t('check.title')"></h2>
      <p [innerHTML]="t('check.text')"></p>
    </section>
  }
</ng-container>
