<ng-container *transloco="let t; read: 'zodexpress'">
  <section class="title">
    <div class="title-content">
      <h1 [innerHTML]="t('title')"></h1>
      <p [innerHTML]="t('text')"></p>
    </div>
  </section>
  <section>
    <h2 [innerHTML]="t('install.title')"></h2>
    <p [innerHTML]="t('install.text')"></p>
    <pre copy>
      <code highlight="npm i @zodyac/zod-express"></code>
    </pre>
  </section>

  @defer (on viewport) {
    <section>
      <h2 [innerHTML]="t('usage.title')"></h2>
      <p [innerHTML]="t('usage.text')"></p>
      <pre copy>
        <code [highlight]="'schema' | snippet : 'zodexpress' | async" [languages]="['ts']"></code>
      </pre>

      <p [innerHTML]="t('usage.endpoint')"></p>
      <pre copy>
        <code [highlight]="'body' | snippet : 'zodexpress' | async" [languages]="['ts']"></code>
      </pre>

      <h3 [innerHTML]="t('usage.params')"></h3>
      <p [innerHTML]="t('usage.params-text')"></p>
      <pre copy>
        <code [highlight]="'params' | snippet : 'zodexpress' | async" [languages]="['ts']"></code>
      </pre>

      <h3 [innerHTML]="t('usage.query')"></h3>
      <p [innerHTML]="t('usage.query-text')"></p>
      <pre copy>
        <code [highlight]="'query' | snippet : 'zodexpress' | async" [languages]="['ts']"></code>
      </pre>

      <p [innerHTML]="t('usage.infer')"></p>

      <h3 [innerHTML]="t('usage.all')"></h3>
      <p [innerHTML]="t('usage.all-text')"></p>
      <pre copy>
        <code [highlight]="'check' | snippet : 'zodexpress' | async" [languages]="['ts']"></code>
      </pre>

      <p class="notice" [innerHTML]="t('usage.notice')"></p>
    </section>
  } @placeholder {
    <section>
      <h2 [innerHTML]="t('usage.title')"></h2>
      <p [innerHTML]="t('usage.text')"></p>
    </section>
  }

  @defer (on viewport) {
    <section>
      <h2 [innerHTML]="t('errors.title')"></h2>
      <p [innerHTML]="t('errors.text')"></p>
      <pre copy>
        <code [highlight]="'handler' | snippet : 'zodexpress' | async" [languages]="['ts']"></code>
      </pre>
    </section>
  } @placeholder {
    <section>
      <h2 [innerHTML]="t('errors.title')"></h2>
      <p [innerHTML]="t('errors.text')"></p>
    </section>
  }

  @defer(on viewport) {
    <section>
      <h2 [innerHTML]="t('middleware.title')"></h2>
      <p [innerHTML]="t('middleware.text')"></p>
      <pre copy>
        <code [highlight]="'middleware' | snippet : 'zodexpress' | async" [languages]="['ts']"></code>
      </pre>
      <p class="notice" [innerHTML]="t('middleware.notice')"></p>
    </section>
  } @placeholder {
    <section>
      <h2 [innerHTML]="t('middleware.title')"></h2>
      <p [innerHTML]="t('middleware.text')"></p>
    </section>
  }

  @defer(on viewport) {
    <section>
      <h2 [innerHTML]="t('decorators.title')"></h2>
      <p [innerHTML]="t('decorators.text')"></p>
      <pre copy>
        <code [highlight]="'decorator' | snippet : 'zodexpress' | async" [languages]="['ts']"></code>
      </pre>
      <p class="notice" [innerHTML]="t('decorators.notice')"></p>
    </section>
  } @placeholder {
    <section>
      <h2 [innerHTML]="t('decorators.title')"></h2>
      <p [innerHTML]="t('decorators.text')"></p>
    </section>
  }
</ng-container>
