<div class="content" *transloco="let t; read: 'home.title'">
  <img src="assets/logo.png" alt="Zodyac logo">
  <h1>Zodyac</h1>
  <p [innerHTML]="t('main')"></p>
  <div class="cta">
    <button mat-flat-button color="primary" routerLink="/docs/getting-started">
      <mat-icon>code</mat-icon>
      {{ t('cta') }}
    </button>
    <a mat-stroked-button color="primary" href="https://github.com/git-zodyac" target="_blank">
      <mat-icon svgIcon="github">Github</mat-icon>
      {{ t('source') }}
    </a>
  </div>
</div>
