:host {
  display: grid;
  place-content: center;
  flex-shrink: 0;
  height: 90svh;

  .content {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    max-width: 30rem;

    img {
      margin: 0 auto;
      object-fit: contain;
      object-position: center right;
      margin-bottom: 3rem;
    }

    p {
      color: var(--app-text-decorated);
    }

    .notice {
      margin-top: 2rem;
      color: var(--app-text-color);
      background-color: var(--app-panel-color);
      border-radius: .5rem;
      font-size: 0.85rem;
      padding: 1rem .5rem;
    }

    .cta {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      gap: 1rem;
    }
  }
}
