<div class="image-block">
  <img src="assets/architecture/img.png" alt="Architecture schema"/>
</div>

<div class="text-block">
  <h2>Architecture</h2>
  <p>
    Zodyac implements a variation of <a href="https://blog.cleancoder.com/uncle-bob/2012/08/13/the-clean-architecture.html">Clean architecture</a>.
    It is designed to be as abstract and modular as possible, so that your business logic would not rely on implementation.
  </p>
  <button mat-button color="primary">
    <mat-icon>school</mat-icon>
    More core concepts
  </button>
</div>
