<div class="image-block">
  <img
    ngSrc="assets/architecture/img@0.5x.png"
    width="250" height="250"
    srcset="assets/architecture/img@0.5x.png 1x, assets/architecture/img.png 2x"
    alt="Architecture schema"
  />
</div>

<div class="text-block" *transloco="let t; read: 'home.architecture'">
  <h2 [innerHTML]="t('title')"></h2>
  <p [innerHTML]="t('description')"></p>
  <button mat-button color="primary" routerLink="/docs/core-concepts">
    <mat-icon>school</mat-icon>
    {{ t('cta') }}
  </button>
</div>
